/*Author: Stefan Dindyal*/
/*Global*/
@font-face {
    font-family: 'casper_boldregular';
    src: url('fonts/casper_bold-webfont.eot');
    src: url('fonts/casper_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/casper_bold-webfont.woff') format('woff'),
         url('fonts/casper_bold-webfont.ttf') format('truetype'),
         url('fonts/casper_bold-webfont.svg#casper_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'casperregular';
    src: url('fonts/casper-webfont.eot');
    src: url('fonts/casper-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/casper-webfont.woff') format('woff'),
         url('fonts/casper-webfont.ttf') format('truetype'),
         url('fonts/casper-webfont.svg#casperregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'casper_italicregular';
    src: url('fonts/casper_italic-webfont.eot');
    src: url('fonts/casper_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/casper_italic-webfont.woff') format('woff'),
         url('fonts/casper_italic-webfont.ttf') format('truetype'),
         url('fonts/casper_italic-webfont.svg#casper_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'casper_bold_italicregular';
    src: url('fonts/casper_bold_italic-webfont.eot');
    src: url('fonts/casper_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/casper_bold_italic-webfont.woff') format('woff'),
         url('fonts/casper_bold_italic-webfont.ttf') format('truetype'),
         url('fonts/casper_bold_italic-webfont.svg#casper_bold_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {background-color: #ccc8be;}
/*header*/
#header {background-color: #6b6966;}
#header > .row {height: 77px;}
#header .push {padding-top: 45px;}
#header .accent {background-color: #e0b1a8; height: 3px;}
#header .accent .green {background-color: #a3e5bc; width: 50%; height: 3px;}
#header .logo {width: 148px; height: 117px; float: left; margin-right: 10px; background: url(../img/gonebusy-logo.png) top left no-repeat;}
#header .mission {font-family: 'casper_italicregular', sans-serif; font-size: 16px; line-height: 22px; color: #ccc8be;}
#nav {list-style: none; float: right; font-family: 'casper_boldregular', sans-serif; font-size: 17px; line-height: 22px;}
#nav li {display: inline-block; margin-left: 40px;}
#nav li a {color: #fff;}
#nav li a:hover {color: #a6f7c5;}
/*cont*/
#cont {padding-top: 66px;}
#search form, #signup form, #works .block, #how .block {background-color: #ede9e1; padding: 12px 16px 0;}
#search input, #signup input, #works input, #how input {height: 45px; margin-bottom: 12px; border: 0;}
#search input.searchbox, #signup input.username, #signup input.passphrase {padding-left: 50px; box-shadow: inset 1px 1px 2px rgba(0,0,0,0.20); background-image: url(../img/search-icon.png); background-position: 14px center; background-repeat: no-repeat; font-family: 'casper_boldregular', sans-serif; font-size: 22px; color: #8e8c86;}
#search input.submit, #signup input.submit, #works input.submit, #how input.submit {width: 100%; background-color: #a6f7c5; font-family: 'casper_boldregular', sans-serif; font-size: 16px; color: #597f68; text-transform: uppercase; text-align: center; box-shadow: 2px 2px 2px rgba(0,0,0,0.10);}
/*Slider*/
#slider .slider-pager {}
#slider .slider-pager a {width: 78px; height: 80px; display: block; background-image: url(../img/arrows.png); position: absolute; top: 196px;}
#slider .slider-pager a.prev {background-position: top left; left: 0;}
#slider .slider-pager a.next {background-position: top right; right: 0;}
#slider .slider-pager a.prev:hover {background-position: bottom left;}
#slider .slider-pager a.next:hover {background-position: bottom right;}
/*Sign Up*/
#signup {padding-top: 52px;}
#signup form {min-height: 380px; margin-bottom: 1em;}
#signup h2 {position: relative; font-family: 'casper_boldregular', sans-serif; font-size: 23px; color: #597f68; padding-bottom: 4px; font-weight: normal;}
#signup h2:after {content: '\0020'; position: absolute; display: block; left: 0; bottom: 0px; width: 100%; height: 1px; background-color: #e4dcca; border-bottom: 1px solid #f1efeb;}
#signup label {font-family: 'casper_boldregular', sans-serif; font-size: 15px; line-height: 22px; color: #6b6966; text-transform: uppercase; padding-top: 5px;}
#signup input {height: 42px;}
#signup input.username {background-image: url(../img/user-icon.png);}
#signup input.passphrase {background-image: url(../img/pass-icon.png);}
#signup .base {padding-top: 10px;}
#signup .log {position: relative; padding-top: 10px;}
#signup .log:before {content: '\0020'; position: absolute; display: block; left: 0; top: 0px; width: 100%; height: 1px; background-color: #e4dcca; border-bottom: 1px solid #f1efeb;}
#signup input.submit {box-shadow: none;}
#signup .forgot {font-family: 'casper_boldregular', sans-serif; font-size: 13px; line-height: 22px; text-align: center; padding: 20px 0 30px;}
#signup .forgot a {color: #c1bbad;}
#signup .forgot a:hover {color: #6b6966; text-decoration: underline;}
#signup .notes {margin-bottom: 12px; padding-top: 5px; list-style: none; font-family: 'casper_boldregular', sans-serif; font-size: 15px; line-height: 28px; color: #969184;}
/*Works*/
#works {padding-top: 50px;}
#works .block {margin-bottom: 1em;}
#works .block h2, #how h2 {font-family: 'casperregular', sans-serif; color: #ab4b3c; font-size: 25px; padding-bottom: 12px; margin: 0; font-weight: normal;}
#works .appeal {clear: both; list-style: none; margin-bottom: 0; font-family: 'casperregular', sans-serif; font-size: 16px; line-height: 60px; color: #6b6966;}
#works .appeal li {background-color: #fff; margin-bottom: 1px; padding: 0 10px 0 54px; background-image: url(../img/appeal-icons.png); background-repeat: no-repeat;}
#works .appeal li.horn {background-position: 10px 18px;}
#works .appeal li.binoc {background-position: 10px -40px;}
#works .appeal li.bill {background-position: 10px -100px;}
#works .appeal li.cal {background-position: 10px -160px;}
#works .appeal li.burst {background-position: 10px -220px;}
#works .appeal li.star {background-position: 10px -280px;}
#works .appeal li.gear {background-position: 10px -340px;}
#works .appeal li.log {background-image: none; padding: 12px 54px;}
#works input {margin-bottom: 0;}
/*How*/
#how {padding-top: 80px; text-align: center;}
#how h2 {text-align: center;}
#how .block .log {background-color: #fff; padding: 30px 0; clear: both;}
#how .num {width: 52px; height: 52px; background-color: #ab4b3c; font-family: 'casper_boldregular', sans-serif; font-size: 24px; line-height: 52px; color: #ede9e1; margin: 0 auto 25px; -moz-border-radius: 26px !important; -webkit-border-radius: 26px !important; border-radius: 26px !important;}
#how .text {font-family: 'casper_boldregular', sans-serif; font-size: 15px; color: #6b6966; margin-bottom: 10px;}
#how .log.lower {padding: 34px 260px;}
#how .log.lower input {margin-bottom: 0;}
/*Results*/
#results {padding-top: 30px;}
/*footer*/
#footer {padding: 30px 0; font-family: 'casper_boldregular', sans-serif; font-size: 16px; line-height: 22px; color: #597f68; text-align: center;}
/*Helpers*/
input.submit:hover {background-color: #ab4b3c !important; color: #ede9e1 !important;}
.rad {-moz-border-radius: 3px !important; -webkit-border-radius: 3px !important; border-radius: 3px !important;}
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; overflow: hidden;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
.hidetext {font-size: 5%; text-indent: -9999em; text-align: left; color: transparent; white-space: nowrap; outline: none;}