html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a:hover, a:active { outline: none; }
ol { list-style-type: decimal; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
button {  width: auto; overflow: visible; }
/**
 * Primary styles
 *
 * Author:
 */
 
@font-face {
    font-family: 'SansationBoldItalic';
    src: url('Sansation_Bold_Italic-webfont.eot');
    src: url('Sansation_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sansation_Bold_Italic-webfont.woff') format('woff'),
         url('Sansation_Bold_Italic-webfont.ttf') format('truetype'),
         url('Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationBold';
    src: url('Sansation_Bold-webfont.eot');
    src: url('Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sansation_Bold-webfont.woff') format('woff'),
         url('Sansation_Bold-webfont.ttf') format('truetype'),
         url('Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Trebuchet MS', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;  
 	background: #f1f1f1;
}

html, body, .hold {
	width: 100%;
	height: 100%;
}

.hold {
	position: relative;
	overflow: hidden;
	min-width: 980px;
}

.index {
	position: absolute;
	width: 100%;
	height: 100%;
	right: -100%;
	top: 0;
	z-index: 100;
	overflow: hidden;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.index .block {
	margin: 0 auto;
	max-width: 980px;
	padding: 100px 0 0;
	color: #fff;
	font-size: 14px;
}

.index .block ul {
	padding: 2% 0; 
}

.index.active {
	right: 0;
}

.eleanor {
	background: purple;
}

.adrian {
	background: red;
}

.sheryl {
	background: yellow;
}

.gerard {
	background: navy;
}

.clair {
	background: aqua;
}

.help {
	background: #262626;
}

.images {
	overflow: auto;
}

.password, .nav {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0;
	font: 16px/28px 'SansationBold', Arial,sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #999;
	position: relative;
	z-index: 10000;
}

.nav {
	width: 300px;
	display: none;
}

.password input, .nav input {
	width: 100%;
	padding: 8px 0;
	border: 0;
	background: #fdfdfd;
	font: 14px 'SansationBold', Arial,sans-serif;
	text-align: center;
	color: #aaa;
	outline: none;
}

.msg {
	/*display: none;*/
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
  j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.hidetext {
  font-size: 5%;
  text-indent: -9999em;
  text-align: left;
  color: transparent;
  white-space: nowrap;
  outline: none;
}

/* Slider */

.slider_block {
	position: relative;
	height: 420px;
	background: #fff;
}

.bx-wrapper {
	margin-top: -60px;
	float: left;
	height: 460px;
}

.bx-window {
	height: 460px;
	overflow: visible !important
}

#slider1 {
	width: 390px;
}

#slider1 li {
	position: relative;
}

.info {
	position: absolute;
	top: 320px;
	left: 60px;
	display: none;
	padding-left: 40px;
	z-index: 2000;
}

.info a.buy {
	width: 205px;
	height: 114px;
	display: block;
	background: url(../images/buy_tag.png) top left no-repeat;
}

.info span {
	width: 330px;
	display: block;
	margin-top: -5px;
	padding-left: 56px;
	font: bold 12px/27px 'Helvetica', Arial, Verdana, sans-serif;
	color: #8c8c8c;
}

#slider1 img {
	width: 390px;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	position: relative;
}

#slider1 li:hover img {
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);	
	transform: rotate(-10deg);	
	width: 410px;
	z-index: 1000;
}

#slider1 li:hover > .info {	
	display: block;
}

#go-prev, #go-next {
	height: 120px;
	display: block;
	position: absolute;
	bottom: 8px;
	z-index: 3000;
}

#go-prev {
	background: url(../images/left_tab.png) top right no-repeat;
	left: 0;
	width: 101px;
}

#go-next { 
	background: url(../images/right_tab.png) top left no-repeat;
	right: 0;
	width: 98px;
}

/* Thank */

.thankyou {
	display: none;
	text-align: center;
	font-size: 28px;
}