/*Fonts*/
@font-face {
    font-family: 'Enriqueta-Bold';
    src: url('../Fonts/Enriqueta-Bold.eot');
    src: url('../Fonts/Enriqueta-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/Enriqueta-Bold.woff') format('woff'), url('../Fonts/Enriqueta-Bold.ttf') format('truetype');
}
/*mods*/
.hsContent {
	height: 100%;
}
/*Animation CSS*/
.anim {
	position: relative;
	overflow: hidden;
}
/*sign*/
.anim.sign {
	width: 202px;
	height: 305px;
	background: url(images/sandwich-board.png) center no-repeat;
	margin: 110px auto 0;
	perspective: 200px;
}
.anim.sign .msg {
	position: absolute;
	top: 0;	
	width: 100%;
	height: 250px;
	font-family: 'Enriqueta-Bold';
	font-size: 22px;
	line-height: 25px;
	color: #fff;
	padding: 55px 30px;
}
/*faces*/
.anim.faces {	
	width: 100%;
	height: 100%;
	margin: 0 auto 0;
}
.anim .face {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -105px;
	margin-left: -104px;
	width: 210px;
	height: 208px;
	z-index: 5;
}
.anim .face.euro {
	background: url(images/faces/euro.png) center no-repeat;
}
.anim .face.afro {
	background: url(images/faces/afro.png) center no-repeat;	
}
.anim .face.asian {
	background: url(images/faces/asian.png) center no-repeat;
}
.anim .face.native {
	background: url(images/faces/native.png) center no-repeat;
}
.anim.roles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.anim .role {
	position: absolute;
	bottom: 50%;
	left: 5px;	
	width: 100%;
	height: 420px;
	margin-bottom: -195px;
}
.anim .role.carpenter {
	background: url(images/roles/carpenter.png) center no-repeat;
}
.anim .role.chef {
	background: url(images/roles/chef.png) center no-repeat;
}
.anim .role.coach {
	background: url(images/roles/coach.png) center no-repeat;
}
.anim .role.librarian {
	background: url(images/roles/librarian.png) center no-repeat;
}
.anim .role.stylist {
	background: url(images/roles/stylist.png) center no-repeat;
}
/*basic and pro*/
.anim.types {}
.anim.types > h1 {
	position: relative;
	display: inline-block;
	width: auto;
}
.anim.types .burst {
	position: absolute;
	right: 0;
	bottom: 0;
}
.anim.types .burst .basic {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 70px;
	height: 66px;
	background: url(images/burst-basic.png) center no-repeat;
}
.anim.types .burst .pro {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 89px;
	height: 82px;
	background: url(images/burst-pro.png) center no-repeat;
}
/*carousel*/
#slide-10 .anim.carousel {
	width: 400px;
	height: 200px;
	margin: 0 auto 20px;
	overflow: visible;
}
#slide-10 .anim.carousel.sm {		
	position:relative; 
	width:295px; 
	height:235px; 
	margin:0 auto;
	-webkit-perspective: 0;
	-webkit-transform-style: preserve-3d; 
	-webkit-transform: rotateX(70deg) rotateY(180deg);
}
#slide-10 .anim.carousel .path {
	width:295px; 
	height:235px; 
	position:relative; 	
	-webkit-transform-style: preserve-3d;	
}
.anim.carousel .icon {
	position: absolute;	
}
.anim.carousel.sm .icon.a {	
	width:108px;
	height:108px;	
	background: url(images/basic-icons/ball.png) center no-repeat;	
	top:127px; 
	left:50%;
	margin-left: -54px;
	opacity: 1;
	transform: scale(1);	
}
.anim.carousel.sm .icon.b {
	width:138px;
	height:138px;	
	background: url(images/basic-icons/cake.png) center no-repeat;	
	top:50px; 
	left:0;	
	opacity: 1;
	transform: scale(1);	
}
.anim.carousel.sm .icon.c {
	width:138px;
	height:138px;	
	background: url(images/basic-icons/concert.png) center no-repeat;	
	top:0px; 
	left:75px;
	opacity: 1;
	transform: scale(1);	
}
.anim.carousel.sm .icon.d {
	width:150px;
	height:138px;	
	background: url(images/basic-icons/picnic.png) center no-repeat;	
	top:0px; 
	left:140px;
	opacity: 1;
	transform: scale(1);	
}
.anim.carousel.sm .icon.e {
	width:138px;
	height:138px;	
	background: url(images/basic-icons/bache.png) center no-repeat;	
	top:50px; 
	left:200px;	
	opacity: 1;
	transform: scale(1);	
}
/*door*/
.hsContent.doorCover {
	position: relative;
	overflow: hidden;
}
.anim.door {
	float: right;
	margin-right: 0;
	width: 503px;
	height: 650px;
	background: url(images/door.jpg) top right no-repeat;
}
.anim.door .hanging {
	position: absolute;
	top: 50px;
	right: 90px;
	width: 185px;
	height: 192px;
	background: url(images/gb-hang-2.png) top center no-repeat;
	-webkit-transform: rotate(-70deg);
	transform: rotate(-70deg);
	-webkit-transform-origin: top center;
	transform-origin: top center;
}
#slide-12 .hsContainer:first-child,
#slide-12 .hsContainer:first-child .hsContent:first-child {
	padding-right: 0;
}