/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
i,em{font-style:italic;}
b,strong{font-weight:bold;}
*{-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
body {
	font-size: 36px;
	line-height: 1em;
}
body.caps {
	text-transform: uppercase;
}
h1{
	font: bold 28px/normal Arial, sans-serif;
	color: #666;
	margin-bottom: 10px;
}
h2 {
	font: bold 18px/normal Arial, sans-serif;
	color: #262626;
	padding: 10px;
}
h2 .size {
	display: inline-block;
	padding: 5px 8px;
	border: 1px solid #999;
	margin-right: 5px;
	border-radius: 3px;
	background-color: #eee;
}
#content {
	position: relative;
	width: 100%;
	max-width: 980px;
	text-align: center;
	padding: 40px 10px;
	margin: 0 auto;
	font-size: 0em;
}
.logos {
	list-style: none;
	margin: 20px 0;
	font-size: 36px;
}
.logos li {
	margin: 1.5em 0;
}
.logo {
	position: relative;
	display: inline-block;
	height: 1em;
	color: #2c2356;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
}
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
.raleway {
	font-family: 'Raleway', sans-serif;
}
.arimo {
	font-family: 'Arimo', sans-serif;
}
.yanone_kaffeesatz {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.dosis {
	font-family: 'Dosis', sans-serif;
}
.titillium_web {
	font-family: 'Titillium Web', sans-serif;
}
.fjalla_one {
	font-family: 'Fjalla One', sans-serif;
}
.icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 0.75em;
	height: 0.75em;
	margin: 0 0.1em;
	margin-top: 0.5em;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon i {
	position: absolute;
	width: 0.25em;
	height: 0.25em;
	background: #555;
	border-radius: 0.25em;
	display: block;
}
.icon i.r {
	background: #ff4747;
	top: 0;
	left: 0;
	background: #ff2020;
}
.icon i.g {
	background: #a0e534;
	top: 0;
	right: 0;	
}
.icon i.b {
	background: #3020ff;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);	
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.controls {
	padding: 0 10px 10px;
	margin: 0 10px 10px;
	font-size: 24px;
}
.controls .caps {
	cursor: pointer;
	padding: 5px 10px;
	font-weight: bold;
	color: #262626;
}
.controls .caps.capped {
	text-transform: lowercase;
}
.controls #slider-range-max {
	height: 20px;
	margin-bottom: 20px;
}